nav {
  position: absolute;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin-top: 1.2rem;

  button {
    color: #fff;
    background: linear-gradient(0deg, rgba(8,34,34,1) 0%, rgba(0,1,1,0.6727065826330532) 100%);
    cursor: pointer;
    border: 2px solid #fff;
    padding: 0.5rem;

    transition: all 0.3s ease;
    &:hover {
      background: rgb(65,65,65);
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    // bring button over song library tab
    button {
      z-index: 10;
    }
  }
}