* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2, p {
  color: #ffff;
}
h1,h3 {
  color: rgb(58, 58, 58);
}

body {
  font-family: 'Lato', sans-serif;
}
  
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  // the same used at .library width (_library.scss)
  margin-left: 20rem;
}

.outer-display  {
  // position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: lightcoral;
  
}

.inner-display {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  width: 40%;
  height: 80%;
  background-color: lightpink;
  margin: auto;
  min-width: 320px;
  max-width: 440px;
  border-radius: 1rem;
  background: linear-gradient(0deg, rgba(8,34,34,1) 0%, rgba(0,1,1,0.6727065826330532) 100%);
}

@import "./library";
@import "./nav";
@import "./player";
@import "./song";

